.logo1{
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 25rem;
}
.navlink1{
  margin-right: 5rem;
  color: black;
}
nav a.active{
font-weight: bold;
}

.navbtn{
  margin-right: 2rem;
}

@media screen and (max-width: 990) {
  .navlistdiv {
      display: block;
    }
}